<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group" role="group">
            <a class="btn btn-default" data-ui-sref="list" ng-click="$ctrl.changeActive('list');" ng-class="$ctrl.active === 'list' ? 'active' : ''">Список</a>
            <a class="btn btn-default" data-ui-sref="createNewPokemon" ng-click="$ctrl.changeActive('createNewPokemon');" ng-class="$ctrl.active === 'createNewPokemon' ? 'active' : ''">Добавить покемона</a>
            <a class="btn btn-default" data-ui-sref="formUser" ng-click="$ctrl.changeActive('formUser');" ng-class="$ctrl.active === 'formUser' ? 'active' : ''">Добавить пользователя</a>
        </div>
    </div>
</div>