<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <title>ДЗ 3</title>
    </head>
    <body>

    <style>
       html, body, .container, .row {
            height:100%;
        }
    </style>

    <div class="container">
        <div class="row">
            <form class="col-12 align-self-center" method="post">
                <div class="form-group">
                    <input type="text" name="text" id="login" class="form-control" placeholder="Введите слово">
                </div>
                <button type="submit" class="btn btn-primary">Перевод</button>
            </form>
        </div>
    </div>
    </body>
</html>