<div>
    Найти:
    <input ng-model="myQuery"><br><br>
</div>

<div>
    Сортировать по:
    <select ng-model="myOrderProperty">
        <option value="id">ID</option>
        <option value="name">Имени</option>
        <option value="weight">Весу</option>
        <option value="height">Росту</option>
    </select>
    <span class="sort" ng-class="reverse ? 'descending' : 'ascending'" ng-click="changeReverse();"></span>
</div>

<div>
    Тип:
    <select ng-model="myFilterType">
        <option value=""></option>
        <option ng-repeat="type in getTypes()" value="{{type}}">{{type}}</option>
    </select>
</div>

<ul>
    <li ng-repeat="pokemon in pokemons | filter:{type:myFilterType} | filter: myQuery | orderBy: myOrderProperty:reverse">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="clickOnImg(pokemon.name);">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="pokemon.type [0]">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>